<!DOCTYPE html>
<html>
<head>
    <title>Twitter Sentiment Analysis</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <div class="jumbotron text-center">
        <h1>Welcome To Sentiment Analyzer</h1>
    </div>


    <div class="container">
        <p style="font-size:17px">Type a sentence in the bar below and you will see if this sentence is positive or negative (estimated 72% correct answer rate)</p>
        <div class="form">
            <form method="post" style="padding:2% 0">
                <textarea name="user_tweet" placeholder="Type a tweet ...." style=" width:100%; font-size:17px"></textarea>
                    <div class="buttonHolder" style="text-align: center; padding:20px">
                        <button class="button is-primary is-small"  type="submit" style="padding:10px; font-size:17px" >Get Prediction</button>
                    </div>
            </form>
            <p style="text-align: center; font-size:17px; color:rebeccapurple">{{prediction_text}}</p>
        </div>
    </div>
</body>
</html>
